testdata
data

*.midi
*.MID
*.pickle
*__pycache__
*.idea

bin/
dataset/
result/
model/
logs/
.dfc/

# Swap files
*.swp
*.swo

# Temporary files
*~
*.tmp

# Backup files
*.bak
*.un~

# Undos
*.undo

# Session files
Session.vim
Sessionx.vim
